{% extends 'base.html' %}
{% block content %}
<br>
<div class="card text-center">
  <div class="card-body">
    <h1>Welcome To GameVoter</h1>
    <br>
    <h3>Here you can vote for the game you like!</h3>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">View Available Comparisons</a>
    <br>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">View Available Comparisons</a>
    <br>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">View Available Comparisons</a>
    <br>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">View Available Comparisons</a>
    <br>
    <br>
  </div>
  </div>
{% endblock %}